<mat-card class="example-card container">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="titleCard">Professional name</mat-card-title>
        <mat-card-subtitle><span [ngStyle]="{'color': 'blue' }">PSICOLOGIST</span>| Lisbon</mat-card-subtitle>
        <mat-card-subtitle><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> (20reviews)
        </mat-card-subtitle>
        <mat-card-subtitle><span [ngStyle]="{'font-weight': 'bold' }">R$160</span> / 50 MINUTES</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, quos explicabo! Eos doloribus quo exercitationem cupiditate vero repellendus tenetur quis dolore, eum blanditiis enim soluta a magni saepe, expedita atque iste nam molestias delectus quia totam!
            Error, maiores. Reprehenderit placeat, maxime sunt minus ea iste explicabo commodi dignissimos optio pariatur.
        </p>
    </mat-card-content>

</mat-card>