<div class="container d-flex flex-column shadow px-0">
    <div class="text-center bg-primary py-2 px-5 w-100">
        <h3 class="d-block text-white">Schedule your session!</h3>
        <span class="d-block text-white">Timezone: Lisbon (+1)</span>
    </div>
    <div class="bg-white px-3">
        <div *ngIf="loadingDays" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-days (onNextClicked)="onArrowClicked($event)" (onPrevClicked)="onArrowClicked($event)" [days]="this.dayTimes" [nbreDays]="this.nbreDays.nbreDays" *ngIf="!loadingDays"></app-days>
    </div>
</div>

<div class="bg-white my-3 shadow container">
    <div *ngIf="loadingTimes" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <app-times [times]="this.times" *ngIf="!loadingTimes"></app-times>
</div>